<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Metro Market</title>
    <!-- Bootstrap core CSS -->

    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    <link href="~/css/shop-homepage.css" rel="stylesheet" />
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/">METRO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">


                    @if (Session["uyeid"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Index/@Session["uyeid"]">
                                <i class="fas fa-user-tie"></i> @Session["kullaniciadi"].ToString()
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Logout/">
                                <i class="fas fa-sign-out-alt"></i> Çıkış
                            </a>
                        </li>
                        if (Convert.ToInt32(Session["yetkiid"]) == 1)
                        {
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="/Admin/Index/">
                                 Admin Paneli
                            </a>
                        </li>

                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Login/">
                                <i class="fas fa-sign-in-alt"></i> Giriş
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Uye/Create/">
                                <i class="far fa-user"></i> Üye Ol
                            </a>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                @{
                    Html.RenderAction("kategoriPartial", "Home");
                }
            </div>
            <div class="col-lg-9">
                @RenderBody()
            </div>
        </div>
    </div>

        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
            </div>
            <!-- /.container -->
        </footer>

</body>
</html>
